
.header{
    display: flex;
    justify-content: flex-start;
    padding: 25px 150px;
    align-items: center;

}
.wrapper{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 150px;
}
